<mat-toolbar color="primary" class="fixed-footer mat-elevation-z10">


  <mat-toolbar-row class="desc">

     <img class="logo" src="../assets/images/footer.svg">
<span class="footer-title">
    &nbsp; &nbsp; &nbsp; &nbsp; Angular Quiz
</span>
<span class="fill-space"></span>
<div>
  <span class="footer-desp">
  Developed By: Christopher Rozario
  </span>
</div>
<span class="fill-space"></span>
<div>
  &nbsp;
  <a href="https://facebook.com" target="_blank" >
    <img class="social-logo" src="../assets/images/fb.svg">
</a>
&nbsp;
<a href="https://in.linkedin.com/in/christopher-michael-rozario-7352b8107" target="_blank" >
  <img class="social-logo" src="../assets/images/linkedin.svg">
</a>
&nbsp;
<a href="https://github.com/christo707" target="_blank" >
  <img class="social-logo" src="../assets/images/github.svg">
</a>
&nbsp;
<a href="skype:Christopher.Rozario2@cognizant.com" target="_blank" >
  <img class="social-logo" src="../assets/images/skype.svg">
</a>

</div>


<!-- <span class="fill-space"></span>
<div>
   <a href="https://github.com/christo707/angular-quiz" target="_blank" mat-button>
     <img class="logo" src="../assets/images/github-circle-white-transparent.svg">
     <span><strong> GitHub</strong></span>
 </a>
   <button mat-button color="white" (click)="signout()">
     <strong>Signout</strong>
   </button>
 </div> -->
  </mat-toolbar-row>
