<app-navbar></app-navbar>


<mat-toolbar color="primary" class="quiz-toolbar">
  <mat-toolbar-row class="desc">
    <span >Answer Questions for Quiz</span>
  </mat-toolbar-row>
</mat-toolbar>
<br>
<br>
<mat-card *ngIf="quizService.qns && this.quizService.qnProgress != quizService.qns.length" class="quiz-card mat-elevation-z8">
  <div class="header-card ">
    <div class="card-container-left">
      <h4>Question {{quizService.qnProgress+1}}.</h4>
    </div>
      <div class="card-container-right">
        <h4>Time Elapsed: {{quizService.displayTimeElapsed()}}</h4>
      </div>
  </div>
  <mat-card-content>
    <div class="ques">
<strong>  {{quizService.qns[quizService.qnProgress].qn}} </strong>
    </div>
    <mat-list>
        <mat-divider></mat-divider>
      <ng-container  *ngFor="let option of quizService.qns[quizService.qnProgress].options;let i = index">
           <div *ngIf="option != null" (click)="answer(quizService.qns[quizService.qnProgress].id,i)" class="wrapper">
           <button mat-button class="option-button">
             <mat-list-item>{{option}}</mat-list-item>
          </button>
           <mat-divider></mat-divider>
         </div>
         </ng-container>
    </mat-list>
  </mat-card-content>
</mat-card>

<app-footer></app-footer>
