.quiz-toolbar {
  margin-top: 60px;
  height : 100px;
}

.desc {
  height: 100%;
  width: 100%;
  text-align: center;
  vertical-align: middle;
}

.quiz-card {
  margin-left: 10%;
  margin-right: 10%;

}

.option-button:hover  {
  border-radius: 10px;
  box-shadow: 5px 5px 10px #512DA8;
  font-weight:bold;
}


.header-card {
  padding: 10px;
  color: black;
  /* needed styles below */
  width: 100%;
  display: flex !important;
 justify-content: space-between;
}

.option-button {
  -webkit-transition: border-radius font-weight box-shadow .08s; /*   Safari */
  transition: border-radius font-weight box-shadow .08s;
  width: 100%;
}

.card-container-right{
  display: inline;
  float: right;
}

.card-container-left{
  display: inline;
}

.ques {
  padding: 15px;
  margin-bottom: 10px;
}
