<div class="background">
  <div class="wrapper">
<mat-card class="register-card mat-elevation-z24">

  <div class="card-header" >

    <div class="card-title font"><strong>Register</strong></div>

  </div>
  <br>

  <mat-card-content>
    <form class="register-form" [formGroup]="registerationForm" (ngSubmit)="onFormSubmit()">

    <table class="register-full-width" cellspacing="0">
    <tr>
      <td>
          <mat-form-field class="register-full-width">
             <mat-label>Name Please</mat-label>
            <input matInput  #name name="name" autocomplete="off" formControlName="nameFormControl" [(ngModel)]="userModel.name" >
            <mat-error *ngIf="registerationForm.controls['nameFormControl'].hasError('required')">
             Name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
      </td>
    </tr>
    <br>

<br>
<tr>
  <td>
    <mat-form-field class="register-full-width">
      <mat-label>Email ho jaye</mat-label>
      <input matInput placeholder="Email Ho jaye" autocomplete="off" #email name="email" formControlName="emailFormControl" [(ngModel)]="userModel.email"  >
      <mat-error *ngIf="registerationForm.controls['emailFormControl'].hasError('email') && !registerationForm.controls['emailFormControl'].hasError('required')">
      Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="registerationForm.controls['emailFormControl'].hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
  </mat-form-field>
</td>
</tr>
    </table>
  <br>
  <br>
  <div style="text-align: center; padding: 10px;">
    <button mat-raised-button color="primary" [disabled]="!registerationForm.valid" type="submit"><span class="button-font"> Start Quiz </span></button>
</div>
    </form>
  </mat-card-content>
</mat-card>
</div>
</div>

<!-- [formControl]="emailFormControl" -->
